.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;

}

.search,
.output {
  width: 100vw;
}

.search {
  padding: 50px;
  background-color: rgb(255, 201, 201);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  width: 50%;
}

.input {
  width: 100%;
}

.output {
  background-color: rgb(230, 204, 255);
}

.element {
  display: flex;
  align-items: center;
  justify-content: center;
}